<div>This is the final Sudoku Grid</div>
<div id ="sudoku" class = "sudoku-board" data-board-size="6">
  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-0" value="2" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-1" value="6" maxlength="1" disabled>      
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-2" value="3" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-3" value="4" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-4" value="1" maxlength="1" disabled>      
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-5" value="5" maxlength="1" disabled>
  </div>

  <!-- ----- -->

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-6" value="4" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-7" value="1" maxlength="1" disabled>      
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-8" value="5" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-9" value="2" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-10" value="3" maxlength="1" disabled>      
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-11" value="6" maxlength="1" disabled>
  </div>

  <!-- ----- -->

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-12" value="5" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-13" value="2" maxlength="1" disabled>      
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-14" value="6" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-15" value="3" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-16" value="4" maxlength="1" disabled>      
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-17" value="1" maxlength="1" disabled>
  </div>

  <!-- ----- -->

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-18" value="3" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-19" value="4" maxlength="1" disabled>       
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-20" value="1" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-21" value="6" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-22" value="5" maxlength="1" disabled>      
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-23" value="2" maxlength="1" disabled>
  </div>

  <!-- ----- -->

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-24" value="6" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-25" value="5" maxlength="1" disabled>      
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-26" value="4" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-27" value="1" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-28" value="2" maxlength="1" disabled>      
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-29" value="3" maxlength="1" disabled>
  </div>

  <!-- ----- -->

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-30" value="1" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-31" value="2" maxlength="1" disabled>      
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-32" value="3" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-33" value="5" maxlength="1" disabled>
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-34" value="6" maxlength="1" disabled>      
  </div>

  <div class= "sudoku-board-cell">
    <input type="text" pattern="\d*" novalidate id="answer-input-35" value="4" maxlength="1" disabled>
  </div>
  
  <!-- ----- -->
</div>